* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: arial;
    font-size: 1.05rem;
    font-weight: 300;
    line-height: 1.5;
}

body {
    background-color: #fff;
}

.main-div {
    width: 100%;
    font-size: 14px;
    max-width: 75em;
    margin: 1.5em auto;
}

.container {
    width: 100%;
}

.sub-container {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 0.5fr;
    gap: 1.5em;
}

@media screen and (max-width: 992px) {
    .sub-container {
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 0.5fr 0.5fr 0.25fr;
        gap: 1.5em;
    }
}

.flex {
    display: flex;
    align-items: center;
}

.flex-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper h3 {
    color: #000;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 0.75em;
}

/* Adds style to the input boxes */

.container input {
    display: block;
    width: 100%;
    padding: 0.50em 0.25em;
    border: 1px solid;
    border-radius: 0.25em;
    font-weight: 400;
    margin-bottom: 0.66em;
}

.container input:hover {
    border-color: rgb(70, 140, 0);
    transition: 0.2s;
}

.total-amount-container, .user-amount-container, .output-container, .list {
    background-color: #fff;
    padding: 1.33em 0.66em;
    border-radius: 0.5em;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
    margin-top: 0.5em;
}

.total-amount-container p, .user-amount-container p {
    font-weight: 500;
}

.output-container p {
    font-weight: 300;
}

.output-container span {
    display: block;
    text-align: center;
}

.submit {
    font-size: 0.75em;
    margin-top: 0.25em;
    padding: 0.25em 0.50em;
    border: none;
    outline: none;
    cursor: pointer;
}

.submit:hover {
    border-radius: 0.5em;
    box-shadow: 0px 5px 7.5px rgba(0,0,0,0.4);
    transition: 0.2s;
}

.product {
    font-weight: 500;
    color: #363d55;
  }

  .amount {
    color: #414a67;
    margin-left: 20%;
  }

  .icons-container {
    width: 5em;
    margin: 1.2em;
    align-items: center;
  }

  .product-title {
    margin-bottom: 1em;
  }

  .hide {
    display: none;
  }

  .error {
    color: #ff465a;
  }
  
  .edit {
    margin-left: auto;
  }

  .edit, .delete {
    background: transparent;
    cursor: pointer;
    margin-right: 1.5em;
    border: none;
    color: #587ef4;
  }


