* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: arial;
    font-size: 1.05rem;
    font-weight: 300;
    line-height: 1.5;
}

body {
    background-image: linear-gradient(90deg, rgb(100, 0, 100),rgb(255, 130, 255),rgb(100, 0, 100));
}

.main-div {
    width: 100vh;
    font-size: 14px;
    max-width: 40em;
    margin: 2.5em auto;
}

.container {
    width: 100vh;
}

.sub-container {
    width: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5em;
}

